.selected{
    background-color: #C1FFC1;
    /*color:red;*/
}

.post{
  position:relative;
  opacity: 1; }
  .post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .post.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }

#main{
  position: relative;
}
.page{
  position: absolute;
  top: 0px;
  width: 100%;
}