<template name="quizHome">

    <!--<ul>-->
    <!--    <a href="{{pathFor 'quizPlay' continent='asia'}}"><button class="btn btn-default"> Asia </button></a>-->
    <!--    <a href="{{pathFor 'quizPlay' continent='nAmerica'}}"><button class="btn btn-default"> North America </button></a>-->
    <!--    <a href="{{pathFor 'quizPlay' continent='sAmerica'}}"><button class="btn btn-default"> South America </button></a>-->
    <!--    <a href="{{pathFor 'quizPlay' continent='australia'}}"><button class="btn btn-default"> Australia </button></a>-->
    <!--    <a href="{{pathFor 'quizPlay' continent='africa'}}"><button class="btn btn-default"> Africa </button></a>-->
    <!--    <a href="{{pathFor 'quizPlay' continent='europe'}}"><button class="btn btn-default"> Europe </button></a>-->
    <!--</ul>-->
    
   
    
      {{#famousContext id="mainCtx"}}
    
        {{#View size="[undefined,undefined]"}}
            
            {{>Surface template="banner" id="homeBanner" size="[650,200]" translate="[0,0,10]" origin="[0.5,0.5]" align="[0.06,0.08]" class="homeBannerClass"}}
            
            {{>Surface template="quizMap" id="map" size="[undefined,undefined]" origin="[0.5,0.5]" align="[0.5,0.5]" class="map"}}
              
            {{>Surface template="sceneTwo" id="sceneFooter" size="[undefined, 300]" translate="[0,0,10]" origin ="[0.5,0.5]" align="[0.5,0.935]" class="sceneFooter"}}
        {{/View}}
    
    {{/famousContext}}
    
</template>