<template name="quizPlay">
   
    {{#famousContext id="mainCtx"}}
    
        {{#View size="[undefined,undefined]"}}
            
<!--
            {{>Surface template="quizPlay" id="map" size="[undefined,1000]" origin="[0.5,0.5]" align="[0.5,0.5]" class="map"}}
                        
-->
        {{#Surface id="quiz" size="[undefined,undefined]" align="[0.5,0.5]" origin="[0.5,0.5]"}}

        <div class="wrapperquizquestions map">
        {{#with questionWith}}
        <p class="quizQuestion">{{question}}</p>
        <table style="width:100%">
            <tr>
                <td align="center">
                    <input type="button" class="answer optA stitched " value= "{{optA}}" name="optA"/>                    
                </td>
                <td align="center">
                    <input type="button" class="answer optB stitched " value= "{{optB}}" name="optB"/>        
                </td>
            </tr>
            <tr>
                <td align="center">
                     <input type="button" class="answer optC stitched " value= "{{optC}}" name="optC"/>
                </td>
                <td align="center">
                    <input type="button" class="answer optD stitched " value= "{{optD}}" name="optD"/>
                </td>
            </tr>
        </table>
<!--

        {{answer}}
        {{difficult}}
-->
        {{/with}}
<!--        <button class="btn btn-default quizReset">Reset</button>-->
    </div>
                {{/Surface}}

                       {{>Surface template="restartQuizBanner" id="restartQuizBanner" size="[650, 200]" translate="[0,0,10]" origin ="[0.5,0.5]" align="[0.06,0.9]" class="restartQuizBanner"}}
           
            {{/View}}
    
    {{#Surface align="[0.78,0.15]" size="[300,200]" origin="[0.5,0.5]"}}
    <p class="timer">Time Left</p>  
    {{/Surface}}
          
    {{#Surface align="[0.23,0.15]" size="[200,200]" origin="[0.5,0.5]"}}
    <p class="timer">Score</p>  
    {{/Surface}}
                          
    {{>Surface template="countDownTimer" size="[200,200]" align="[0.5,0.5]" origin="[0.5,0.5]"}}
    {{>Surface template="score" size="[200,200]" align="[0.5,0.5]" origin="[0.5,0.5]"}}
    {{/famousContext}}
<!--    {{> countDownTimer}}-->
</template>
