<template name="quizHome">
    <ul>
        <a href="{{pathFor 'quizPlay' continent='asia'}}"><button class="btn btn-default"> Asia </button></a>
        <a href="{{pathFor 'quizPlay' continent='nAmerica'}}"><button class="btn btn-default"> North America </button></a>
        <a href="{{pathFor 'quizPlay' continent='sAmerica'}}"><button class="btn btn-default"> South America </button></a>
        <a href="{{pathFor 'quizPlay' continent='australia'}}"><button class="btn btn-default"> Australia </button></a>
        <a href="{{pathFor 'quizPlay' continent='africa'}}"><button class="btn btn-default"> Africa </button></a>
        <a href="{{pathFor 'quizPlay' continent='europe'}}"><button class="btn btn-default"> Europe </button></a>
    </ul>
</template>