<template name="quizHome">

    <!--<ul>-->
    <!--    <a href="{{pathFor 'quizPlay' continent='asia'}}"><button class="btn btn-default"> Asia </button></a>-->
    <!--    <a href="{{pathFor 'quizPlay' continent='nAmerica'}}"><button class="btn btn-default"> North America </button></a>-->
    <!--    <a href="{{pathFor 'quizPlay' continent='sAmerica'}}"><button class="btn btn-default"> South America </button></a>-->
    <!--    <a href="{{pathFor 'quizPlay' continent='australia'}}"><button class="btn btn-default"> Australia </button></a>-->
    <!--    <a href="{{pathFor 'quizPlay' continent='africa'}}"><button class="btn btn-default"> Africa </button></a>-->
    <!--    <a href="{{pathFor 'quizPlay' continent='europe'}}"><button class="btn btn-default"> Europe </button></a>-->
    <!--</ul>-->
    
   
    
      {{#famousContext id="mainCtx"}}
    
        {{#View size="[undefined,undefined]"}}
            
            {{>Surface template="banner2" id="homeBanner" size="[550,150]" translate="[0,0,2]" origin="[0.5,0.5]" align="[0.085,0.1]" class="homeBannerClass"}}
            
            {{>Surface template="quizMap" id="map" size="[undefined,undefined]" translate="[0,0,1]" origin="[0.5,0.5]" align="[0.5,0.43]" class="map"}}
              
            {{>Surface template="scene" id="sceneFooter" size="[undefined, 400]" translate="[0,0,10]" origin ="[0.5,0.5]" align="[0.5,0.9]" class="sceneFooter"}}
            
                                    {{>Surface template="windmill" id="windmill" size="[300, 300]" translate="[0,0,9]" origin ="[0.5,0.5]" align="[0.1,0.7]" class="windmill"}}
        {{/View}}
    
    {{/famousContext}}
    
</template>