@import url('//fonts.googleapis.com/css?family=Share+Tech');
@import url('//fonts.googleapis.com/css?family=Lobster');
@import url('//fonts.googleapis.com/css?family=Raleway:200,300,400,500');

body {
  background: #efefef;
}

.containerCountdownTimer {
  width: 400px;
  height: 200px;
  position: relative;
  margin: auto;
  font-family: 'Lobster', 'Raleway', sans-serif;
  color: #444;
}

#time, #svgCountDown {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

#time {
  line-height: 20px;
  height: 20px;
  width: 100%;
  top: 90px;
  left:-90px;
  font-size: 43px;
  text-align: center;
  color: #3da08d;
  opacity: 0.8
}

/*p, .btn {*/
/*  position: relative;*/
/*  left: 220px;*/
/*  width: 200px;*/
/*  display: block;*/
/*  text-transform: uppercase;*/
/*  font-size: 24px;*/
/*  top: 30px;*/
/*}*/

/*.btn {*/
/*  text-align: center;*/
/*  background: #5fc2af;*/
/*  color: #fff;*/
/*  width: 120px;*/
/*  height: 37px;*/
/*  line-height: 37px;*/
/*  cursor: pointer;*/
/*}*/

/*input {*/
/*  border: 0;*/
/*  outline: 0;*/
/*  border-bottom: 1px solid #eee;*/
/*  width: 30px;*/
/*  font-family: helvetica;*/
/*  font-size: 24px;*/
/*  text-transform: capitalise;*/
/*  font-family: 'Share Tech', sans-serif;*/
/*  background: transparent;*/
  
/*}*/

.selected{
    background-color: #C1FFC1;
    /*color:red;*/
}

.post{
  position:relative;
  opacity: 1; }
  .post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .post.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }

#main{
  position: relative;
}
.page{
  position: absolute;
  top: 0px;
  width: 100%;
}

.continentmapcontainer{
    width: 1257px;
	height: 900px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

}

.map{
background: rgba(235,241,244,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(235,241,244,1) 0%, rgba(216,235,248,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(235,241,244,1)), color-stop(100%, rgba(216,235,248,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(235,241,244,1) 0%, rgba(216,235,248,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(235,241,244,1) 0%, rgba(216,235,248,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(235,241,244,1) 0%, rgba(216,235,248,1) 100%);
background: radial-gradient(ellipse at center, rgba(235,241,244,1) 0%, rgba(216,235,248,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f4', endColorstr='#d8ebf8', GradientType=1 );
}

.wrapperquizquestions{
  font-family: 'Raleway', 'Share tech', sans-serif;
    height: 100%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.quizQuestion{
    font-size: 40px;
    margin-top: 23%;
    margin-bottom: 5%;
    text-align: center;
    font-weight: 300;
}

.optA{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}
.optB{
    margin-top: 20px; 
    font-size: 30px;
    font-weight: 200;
}
.optC{
    margin-top: 20px;    
    font-size: 30px;
    font-weight: 200;
}
.optD{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 200;
}

.btn-outlined.btn-primary {
    background: none;
    border: 3px solid #428bca;
    color: #428bca;
    border-radius: 20px;
}
.btn-outlined.btn-primary:hover,
.btn-outlined.btn-primary:active {
    color: #FFF;
    background: #428bca;
    border-color: #428bca:
}
/*
.map{
background: rgba(255,255,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(191,217,248,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(191,217,248,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(191,217,248,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(191,217,248,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(191,217,248,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(191,217,248,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfd9f8', GradientType=1 );
}
*/
.fade.off {
  opacity: 0;
}
 
.fade {
  opacity: 1;
  transition: opacity 800ms ease;
}

.timer{
/*    margin-top: 10%;*/
/*    margin-right: 100%;*/
  font-family: 'Raleway', 'Share tech', sans-serif;
    font-size: 50px;
    font-weight: 100; 
}

 .css-input { 
     text-align:center; 
     font-style:none; 
     border-width:3px; 
     background-color:#96caf2; 
     border-color:#ffffff; 
     color:#ffffff; 
     width: 100%;
     font-weight:100; 
     font-size:36px; 
     padding:5px; 
     border-style:solid; 
     border-radius:20px; 
     box-shadow: 5px 5px 8px 0px rgba(42,42,42,.11); 
     text-shadow:-50px 0px 0px rgba(42,42,42,.0); 
     font-family:'Raleway', 'Share tech', sans-serif;
 } 
.playerNameEntered{
     text-align:center; 
     font-style:none; 
     border-width:3px; 
     background-color:#96caf2; 
     border-color:#96caf2; 
     color:#ffffff; 
     width: 100%;
     font-weight:100; 
     font-size:36px; 
     padding:5px; 
     border-style:solid; 
     border-radius:15px; 
     font-family:'Raleway', 'Share tech', sans-serif;
    opacity: 0.5;
}

@-webkit-keyframes mymove {
    0%   {opacity: 1;}
    100% {opacity: 0.5;}
}

/* Standard syntax */
@keyframes mymove {
    0%   {opacity: 1;}
    100% {opacity: 0.5;}
}

 .css-input:focus { outline:none; } 

::-webkit-input-placeholder {
   color: white;
    opacity: 0.75;
}

:-moz-placeholder { /* Firefox 18- */
   color: white; 
    opacity: 0.75;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
    opacity: 0.75;
}

:-ms-input-placeholder {  
   color: white;  
    opacity: 0.75;
}

#lead{
/*    width:30%;*/
    margin-top: 0%;
/*    margin-left: 35%;*/
}
.formDetails{
    margin-top: 15%;
}
.leadertext{
    margin-top: 0px;
    font-family: 'Raleway', 'Share tech', sans-serif;
    font-size: 60px;
    font-weight: 100; 
    text-align: center;
}
.labeltext{
    position:absolute;
    margin-top: 12.5%;
    margin-left: 15%;
    font-family: 'Raleway', 'Share tech', sans-serif;
    font-size: 15px;
    font-weight: 100; 
    text-align: center;  
}

.btnlead {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 8px 0px rgba(42,42,42,.11);
  -moz-box-shadow: 5px 5px 8px 0px rgba(42,42,42,.11);
  box-shadow: 5px 5px 8px 0px rgba(42,42,42,.11);
    font-family:'Raleway', 'Share tech', sans-serif;
  color: #ffffff;
  font-size: 36px;
  background: #7ac8f5;
  padding: 7px;
  border: solid #ffffff 1px;
  text-decoration: none;
    font-weight:100;
    width: 100%;
}

.btnlead:hover {
  background: #3cb9fc;
  text-decoration: none;
}

.btnlead2 {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
    font-family:'Raleway', 'Share tech', sans-serif;
  color: #ffffff;
  font-size: 36px;
  background: #7ac8f5;
  padding: 7px;
  border: solid #3498db 0px;
  text-decoration: none;
    font-weight:100;
    width: 100%;
    opacity: 0.5;
}




.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #ffffff;
	box-shadow: 5px 5px 8px 0px rgba(42,42,42,.11);
    
	-moz-border-radius-bottomleft:22px;
	-webkit-border-bottom-left-radius:22px;
	border-bottom-left-radius:22px;
	
	-moz-border-radius-bottomright:22px;
	-webkit-border-bottom-right-radius:22px;
	border-bottom-right-radius:22px;
	
	-moz-border-radius-topright:22px;
	-webkit-border-top-right-radius:22px;
	border-top-right-radius:22px;
	
	-moz-border-radius-topleft:22px;
	-webkit-border-top-left-radius:22px;
	border-top-left-radius:22px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:22px;
	-webkit-border-bottom-right-radius:22px;
	border-bottom-right-radius:22px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:22px;
	-webkit-border-top-left-radius:22px;
	border-top-left-radius:22px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:22px;
	-webkit-border-top-right-radius:22px;
	border-top-right-radius:22px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:22px;
	-webkit-border-bottom-left-radius:22px;
	border-bottom-left-radius:22px;
}
/*
.CSSTableGenerator tr:hover td{
	background-color:#ffffff;
		

}
*/
.CSSTableGenerator td{
	vertical-align:middle;
	
	background-color:rgba(96, 186, 255, 0.9);

	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:6px;
	font-size:24px;
    font-family:'Raleway', 'Share tech', sans-serif;
	font-weight:400;
	color:#fff;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{

	background-color:rgba(74, 141, 224, 0.9);
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:32px;
    font-family:'Raleway', 'Share tech', sans-serif;
	font-weight:200;
	color:#fff;
}
/*
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #4a8de0 5%, #4a8de0 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4a8de0), color-stop(1, #4a8de0) );
	background:-moz-linear-gradient( center top, #4a8de0 5%, #4a8de0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a8de0", endColorstr="#4a8de0");	background: -o-linear-gradient(top,#4a8de0,4a8de0);

	background-color:#4a8de0;
}
*/
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.stitched {
  position: relative;

/*   margin: 120px auto;*/
    padding: 20px;
   width: 70%;
   background: #97b9d3;
   color: #fff;
    font-family:'Raleway', 'Share tech', sans-serif;
	font-weight:200;
    	font-size:25px;
/*   line-height: 1.3em;*/
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #97b9d3, 5px 5px 8px 0px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #97b9d3;
}

.stitched:hover{
       background: #26CFFF;
       border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #26CFFF, 5px 5px 8px 0px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #26CFFF;
}
