@import url('//fonts.googleapis.com/css?family=Share+Tech');
@import url('//fonts.googleapis.com/css?family=Lobster');
@import url('//fonts.googleapis.com/css?family=Raleway:200,300,400,500');

body {
  background: #efefef;
}

.containerCountdownTimer {
  width: 400px;
  height: 200px;
  position: relative;
  margin: auto;
  font-family: 'Lobster', 'Raleway', sans-serif;
  color: #444;
}

#time, #svgCountDown {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

#time {
  line-height: 20px;
  height: 20px;
  width: 100%;
  top: 90px;
  left:-90px;
  font-size: 43px;
  text-align: center;
  color: #3da08d;
  opacity: 0.8
}

/*p, .btn {*/
/*  position: relative;*/
/*  left: 220px;*/
/*  width: 200px;*/
/*  display: block;*/
/*  text-transform: uppercase;*/
/*  font-size: 24px;*/
/*  top: 30px;*/
/*}*/

/*.btn {*/
/*  text-align: center;*/
/*  background: #5fc2af;*/
/*  color: #fff;*/
/*  width: 120px;*/
/*  height: 37px;*/
/*  line-height: 37px;*/
/*  cursor: pointer;*/
/*}*/

/*input {*/
/*  border: 0;*/
/*  outline: 0;*/
/*  border-bottom: 1px solid #eee;*/
/*  width: 30px;*/
/*  font-family: helvetica;*/
/*  font-size: 24px;*/
/*  text-transform: capitalise;*/
/*  font-family: 'Share Tech', sans-serif;*/
/*  background: transparent;*/
  
/*}*/

.selected{
    background-color: #C1FFC1;
    /*color:red;*/
}

.post{
  position:relative;
  opacity: 1; }
  .post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .post.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }

#main{
  position: relative;
}
.page{
  position: absolute;
  top: 0px;
  width: 100%;
}

.continentmapcontainer{
    width: 1057px;
	height: 710px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

}

.map{
background: rgba(235,241,244,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(235,241,244,1) 0%, rgba(216,235,248,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(235,241,244,1)), color-stop(100%, rgba(216,235,248,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(235,241,244,1) 0%, rgba(216,235,248,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(235,241,244,1) 0%, rgba(216,235,248,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(235,241,244,1) 0%, rgba(216,235,248,1) 100%);
background: radial-gradient(ellipse at center, rgba(235,241,244,1) 0%, rgba(216,235,248,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f4', endColorstr='#d8ebf8', GradientType=1 );
}

.wrapperquizquestions{
  font-family: 'Raleway', 'Share tech', sans-serif;
    height: 100%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.quizQuestion{
    font-size: 40px;
    margin-top: 18%;
    margin-bottom: 5%;
    text-align: center;
    font-weight: 300;
}

.optA{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}
.optB{
    margin-top: 20px; 
    font-size: 30px;
    font-weight: 200;
}
.optC{
    margin-top: 20px;    
    font-size: 30px;
    font-weight: 200;
}
.optD{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 200;
}

.btn-outlined.btn-primary {
    background: none;
    border: 3px solid #428bca;
    color: #428bca;
    border-radius: 20px;
}
.btn-outlined.btn-primary:hover,
.btn-outlined.btn-primary:active {
    color: #FFF;
    background: #428bca;
    border-color: #428bca:
}
/*
.map{
background: rgba(255,255,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(191,217,248,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(191,217,248,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(191,217,248,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(191,217,248,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(191,217,248,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(191,217,248,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfd9f8', GradientType=1 );
}
*/
.fade.off {
  opacity: 0;
}
 
.fade {
  opacity: 1;
  transition: opacity 800ms ease;
}

.timer{
/*    margin-top: 10%;*/
/*    margin-right: 100%;*/
    font-size: 50px;
    font-weight: 100; 
}