<template name='questionsItem'>
    <div class="list-group panel">
        <a href="{{pathFor 'questionsPage'}}"><h3>{{question}}</h3></a>
        {{#if ownPost}}
        <a href="{{pathFor "questionsEdit"}}"><span>Edit</span></a>
        {{/if}}
        
            submitted by : {{author}}
            <a href="{{pathFor 'questionsPage'}}">{{pluralize commentsCount "Comment"}}</a>
            <a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆</a> {{pluralize votes "Vote"}} 
        <ul>
            <li class="list-group-item {{correct 'optA'}}">{{optA}}</li>
            <li class="list-group-item {{correct 'optB'}}">{{optB}}</li>
            <li class="list-group-item {{correct 'optC'}}">{{optC}}</li>
            <li class="list-group-item {{correct 'optD'}}">{{optD}}</li>
        </ul>

    </div>
</template>